@import "tailwindcss";

:root {
  --background: #2F1D1A;
  /* Carbón */
  --foreground: #FFF1E3;
  /* Crema */
  --card: #1D1D1D;
  /* Negro Nexio */
  --card-foreground: #FFF1E3;
  --primary: #C86446;
  /* Cobre Nexio */
  --primary-foreground: #FFFCF5;
  --secondary: #BE5538;
  /* Cobre Oscuro */
  --secondary-foreground: #FFFCF5;
  --muted: #4E2518;
  /* Terracota Profundo */
  --muted-foreground: #937C6D;
  /* Gris Cálido */
  --accent: #CB6C4C;
  /* Cobre Claro */
  --accent-foreground: #1D1D1D;
  --border: #4E2518;
  --input: #1D1D1D;
  --ring: #C86446;
  --radius: 1rem;

  --gradient-nexio: linear-gradient(135deg, #CC7452 0%, #C0573B 30%, #823D27 60%, #2F1D1A 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --background-image-nexio: var(--gradient-nexio);

  --font-serif: var(--font-outfit);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}